
<script src="https://code.jquery.com/jquery.js"></script>

<script src="/js/handlebars-v4.0.5.js"></script>

<script id="showtemplate" type="text/x-handlebars-template">


<h1>Hello, {{theName}} data</h1>
<h2>I hope this works!! {{theBody}}</h2>
<p>{{theName}}, Does this work?</p>

</script>
<script src="/js/myJS.js"></script>
