<!DOCTYPE html>
<html>
<head>

	<title>Journal Club - Aliff</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="/css/bootstrap.min.css" rel="stylesheet">
	<link href="/css/bootstrap-theme.min.css" rel="stylesheet">
	<link href="/css/style.css" rel="stylesheet">
</head>
<body style="background-color: #dda">
<div class="container">
<a href="/">Home</a>
<h1 class="text-center">Aliff's Page</h1>
<img style="margin:auto; display:block; border-radius:100px" width="150" src="images/aliff/aliff.jpg"/>
<p class="text-center">Hi Everyone! Welcome to my page!</p>


<div class="container" id="thisWeeksLearning">
<p>This last quarter I took a really interesting class on Memory, Attention, and Learning</p>
<p>This is where I want to talk about my last quarter experience. Ideally, I would like to practice Science Journal format/style of writing</p>
</div>

</div>
</body>
</html>