<!DOCTYPE html>
<html>
<head>
	<title>Journal Club - Carla</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="/css/bootstrap.min.css" rel="stylesheet">
	<link href="/css/bootstrap-theme.min.css" rel="stylesheet">
	<link href="/css/style.css" rel="stylesheet">
</head>
<body>
<h1>Carla's Page.....</h1>
<a href="/">Home</a>


<script src="https://code.jquery.com/jquery.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/handlebars-v4.0.5.js"></script>

<script src="/js/myJS.js"></script>
</body>
</html>