
<!DOCTYPE html>
<html>
<head>
	<title>Cogs 1 Quiz</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="/css/bootstrap.min.css" rel="stylesheet">
	<link href="/css/bootstrap-theme.min.css" rel="stylesheet">
	<link href="/css/style.css" rel="stylesheet">
</head>
<body>

<div class="container">
<header>

<h1>Welcome to the TFTI, #1201, #702</h1>
</header>


<section class="row" id="members"/>

{{#each members}}
<div class="col-sm-3 text-center">
<a href="/{{name}}">
<figure>
<img width=50 src="{{image}}"/>
<figcaption>{{name}}</figcaption>
</figure>
</a>
</div>
{{/each}}

</section>






<section>
<h3>Objective: Teach each other about any relevant or useful information your learned from the previous quarter while learning how to web-develop.</h3>

<p>Use this website as a portfolio item in our Github. It will not only show a project we are working on, but the comradre and team engagement skill we all have by display persistent contribution of our work here</p>

<p>Feel free to style this website however you like. Any framework is fine. Start with HTML, CSS, Javascript, jQuery. We can use other libraries if we get bored and want something funner. We can use MongoDB for our DataBase (later).</p>

<p>We can continue to exhaustively iterate. Please be mindful of merges to not overwrite others work. Integration is fine... Will include links to resources for help later.</p>

<p>Let me know through face book if you are interested in this!!! </p>

</section>



</div>


<!-- <input type="button" value="Submit" style="text-align: center;"> -->


  	<script src="https://code.jquery.com/jquery.js"></script>
  	<script src="/js/bootstrap.min.js"></script>
  	<script></script>
</body>
</html>