
header {

	background-color: #f5f5dc;
	padding-top: 2px;
	margin-top: auto;
	padding:30px;
}

header h1{
	
	text-align: center;
}
header img{
	display:block;
	margin:auto;
	text-align: center;
	border: 20px solid black;
}

#members{
	padding:10px ;
}

#members div {
	padding: 10px;
}

#members img{
	border-radius: 100px;
}

section#description{
	text-align: center;
}