

#welcome{
	background-color: black;
	color: white;
	padding: 10px;
}
#welcome h1{
	margin: 0px;
}
header {

	background-color: #f5f5dc;
	padding-top: 2px;
	margin-top: auto;
	padding:30px;
}

header h1{
	
	text-align: center;
}
header img#logo{
	display:block;
	margin:auto;
	text-align: center;
	border: 20px solid black;
}
header ul li{
	list-style: none;
	display: inline;
}
header ul li img{
	padding-left:25px;
	margin-left:85px;
}
#members{
	padding:10px ;
}

#members div {
	padding: 10px;
}

#members img{
	border-radius: 100px;
}

#researchAnchors div img{
	margin:auto;
	display:block;
}

section#description{
	text-align: center;
	background-color: green;
	padding: 20px;
	color: #ffffff;
}
#commentWall{
	
}