<!DOCTYPE html>
<html>
<head>
	<title>Spring '17 - Cogs 10</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="/css/bootstrap.min.css" rel="stylesheet">
	<link href="/css/bootstrap-theme.min.css" rel="stylesheet">
	<link href="/css/style.css" rel="stylesheet">
</head>
<body>
<a href="/spring17">Back</a>


<h1 style="text-align: center;">Cognitive Science 10 - Notes</h1>

<!--Notes for April 11, 2017-->
<div class="container">
<h4>April 11, 2017</h4>
<pre>

	 * = Professor Comments; - = key notes

	 	* Suggested books
	 		~ The elements of style by William Strunk 
	 		and E.B White

	 * <a href="http://writingcenter.fas.harvard.edu/pages/revising-draft" target="_blank">http://writingcenter.fas.harvard.edu/pages/revising-draft</a>


	Writing Papers
		- Writing is a form of design and construction
		- Writing is an iterative process
		- Designing to communicate to an audience

	* Ask ourselves, "What is that I know that I want
	other people to know and how to get other people to know that"


<h4 style="margin:0px; padding:0px; text-align: center;">** Secret from professor **</h4>

<p style="text-align: center;">PAY ATTENTION IN CLASS ~ PAY ATTENTION IN CLASS ~ PAY ATTENTION IN CLASS ~ PAY ATTENTION IN CLASS</p>


<h4 style="text-align: center;">A bit of History</h4> 

	Why history?

	<div>
	Who invented the Web?
		Answer: Tim Berner-Lee  
		<img width=100 src="images/aliff/cog10/timBerner.jpg"/>
	</div>
	#Internet and Web
	- What is the difference between these two?
		- Internet is network of networks responsible
		for passing packets or bits of information
		- The web is a collection of interconnected documents, 
		linked by hyperlinks


	# History of Computing 

		- Amazing Visionary - Vannevar Bush (1945)
			- During WWII, Scientist were forced to collaborate with each other
			- Vannevar asked, "[What do scientiest collaborate on now]"
			- The Memex
				- Bush wrote about the possibility of a future with a Web 
				(similar to what the web looks like today)

		- The Datmouth Summer School (1956)
			- The beginning of A.I. 

		- J.C.R. Licklider, Man-Computer Symbiosis (1960)
		<img width=100 src="images/aliff/cog10/Licklider.jpg"/>

		- Ivan Sutherland (1963), Sketchpad: A Man-Machine Graphical Communication System
		<img width=100 src="images/aliff/cog10/ivanSutherland.jpg"/>
		
		* Jim Hollan's inspiration

		# Doug Engelbart (1968)
		<img width=100 src="images/aliff/cog10/dougEnglebart.jpg"/>

		- A reserach Center for Augmentin Human
		 Intellect
		 1968 Fall Joint Computer Conference, a demonstration
		 that later became known as "The Mother of All Demos"
		- Invented the mouse
		- Focused on computer-supported cooperative work

		#Xerox Alto; Xerox Parc
			- This is when OOP became a hot topic

		#Altar 8800 (1975)
			- First personal computer 

		# Apple 1 (1976)
			- By Steve Jobs and Steve Wozniak



<p style="text-align: center;">***Assignment Due Friday, April 14, 2017 @ Studio!!! ***</p>
<p style="text-align: center;">*** Write your paper ***</p>

</pre>



<!--April 13, 2017 Notes-->
<h4>April 13, 2017</h4>

<!--Sun Glyph-->
&#9728;	
<!--Cloud Glyph-->
&#9729;
<!--BlackStar-->
&#9733;
<!--CheckBox Check-->
<!---->
&#9745;
<!--Shamrock-->
<!---->
&#9752;

<pre>

<h2 style="text-align: center;">More History</h2>

	&#9728; The way Napster got backlash from Music produces,
	   the VHS also had backlash from the movie (studio) industry.

	&#9733; <strong>Mr. Rogers</strong> defends the VHS

	- Digital versus Analog
	&#9752; Big Idea:
		- Digital Convergence
		 	- Audio
			- Images
			- Video
			- Documents
			- Computers
			- Networks


	&#9910; Media, Representation, and Thinking with Computers
		- String around the world problem
		- Informal home work
		?? Ask people how much more string it would take to move a foot away from 
		the center (all around)??




















</pre>

</div>












	<!--SCRIPT LINKING AND STUFF-->
	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="/js/bootstrap.min.js"></script>
	<script src="/js/handlebars-v4.0.5.js"></script>

	<script src="/js/researchPaperTemplate.js"></script>

	<script src="/js/myJS.js"></script>

	<!--Embedded code generated from google Analytics to track user behavior-->
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-97429662-1', 'auto');
  ga('send', 'pageview');

</script>
</body>
</html>