<!DOCTYPE html>
<html>
<head>
	<title>Aliff -Cogs '17</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="/css/bootstrap.min.css" rel="stylesheet">
	<link href="/css/bootstrap-theme.min.css" rel="stylesheet">
	<link href="/css/style.css" rel="stylesheet">
</head>
<body>
	<a href='/spring17'>Back to Spring '17 Session</a>
	<div class="container text-center">

		<h1 class="text-center">Cognitive Science 17</h1>
	</div>


	<!--The Flip Card Modal-->
	<div class="modal" id="flipCardModal">

	<!--Flip Card content in Modal-->
		<div class="container text-center modal-content">
		<!--X glyph to exit the FlipCard Modal-->
			<span class="close">&times;</span>
			

			<div id="HWQuestion"/>
				<p>What part of the brain controls the left leg?</p>
			</div>
		

			<div id="HWResponse">
			<p>The Right! Duhhhhhh!</p>
			</div>
			
			<div style="position: absolute; bottom:0; right:0; left:0;">
			<input type="button" id="answerButton" value="Press for Answer"/>
			</div>
		</div>
	</div>

	<div class="container text-center">
	<input type="button" id="playFlipCard" value="Flip Card"/>
	</div>
	<!--END BODY HTML STUFF -->
	
	<!--Note April 11 2017-->

	<div class="container">
	<h3>Notes</h3>
	<a href="april11">April 11, 2017</a>
	</div>

	<!--April 13, 2017 Notes-->

	<div class="container">


	<pre>

	Notes April 13, 2017

	# Note All Neurons show Action Potentials

		- Graded Potentials
			- This is not an all or nothing system. 
			- The amount of neuro-transmitters released 
			depend on the amount of stimulus coming in i.e.
			celia in the ear receiving sound stimulus.

	# Communication Between Cells
		- Synapse
			- An event where one neuron releases neurotransmitter
			and another (post synaptic cell) neuron receives the
			 neurotransmitter information
		- Synaptic Cleff
			- An area between to neurons where neurotransmitters are
			released. 
			- The area between the presynaptic cell and the
			postsynaptic cell.

		- Neurotransmitter
			- The (synaptic) Vesicle
				- Made of double lipid membrane that holds the
				neurotransmitter
				- Attach themselves to a fusion pore
			- After neurotransmitter released into cleft
				- The vesicles returns to beginning process of
				system and collects more neurotransmitters

		- Neuron Membrane
			- Ion Gates
			- Fusion Pore
			- Other binding receptors
				- Typically at the dendrite
		- The Synapes
			- Excitatory Post Synaptic Potentail
				- Once NT binds to receptor sites, it opens
				an ion channel. At that point, ions begin to flow
				- enzymes are available to help catalyze the 
				process
				- Adding popsitively charged Na+ decreases polarity 
				of post-synaptic cell, bringing it closer to its threshold
				for firing = Excitation
					- EPSP = Excitatory Postsynaptic Potential


			- Inhibitory Post Synaptic Potential
				- <\Write More>
		- There could many more than one neuron communicating to
		any one cell
			- The cell can fire from a summation of input from 
			neurotransmitter received from multiple/different cells

			- Ionotrophic Sysnaps
				- Where NT binds to receptor and ions can flow in
				- Rapid Response
				- Very Short Lived
				- For sending message along a pathway quickly
					- i.e. touching fire, stepping on stone, etc. 


			- Metabotrophic Synapse
				- Not a rapid (slow) Response
				- 5HT (seratonin)
				- Long Lasting
				- For setting conditions - mood, attention, etc. 
				- Ribosomes are used in the post synaptic cell
				- When the seratonin binds to receptor site, 
				ions DON'T open, instead it changes the configuration
				inside the Post Synaptic Cell and a G protein
				is released. Once G protein is released, it then 
				triggers production of "Second Messengers" which 
				bind to the G protein fragment. 
					- This final G protein fragment combined with
					the "Second Messengers", it then binds to site
					and create an open ion channel. 

		# Let's talk about a few specific Neurotransmitters! 

			- Acetylcholine (Ach)
				@functions: All neuro-muscular junctions;
				Cortical arousal - at the forebrain to help
				wake up in the morning. Most of the time 
				this NT is excitatory. 

			- GABA
				@functions: Suppress cortical activity; Regulate
				anxiety. This NT is inhibitory and helps to allow people to sleep at night. People with 
				insufficient GABA may express symptoms of 
				anxiety

			- Glutamate
				@functions: Most common +; learning, Perception, 

			- Serotonin (5HT)
				@functions: Often a neuromodulator; Mood, Sleep,
				perceptual processes, etc. 
			- Dopamine
				@functions: Reinforment (Pleasure) center; Attention; Motor Controls

			- Norepinshrpine 
				@function: Arousal; Attention
				- is endogenous
			- Epinephrine (Adrenalin) 
				@function: Arousal; Attenion
				- is endogenous 
			- Substance P
				@function: Pain (damage, itch, extreme temp, etc.)
			- Endorphins
				@functions: Counter effect of Substance P; Pain
				killer
			- Hormones
				@function: Testosterone, Estrogen, Oxytocin, 
				Insulin

		# Agonist vs. Antagonist
			- Agonist
				- Increases the lifelihood of a NT having its 
				effect
				- Acetylcholine Antagonist - AcetylCholine Esterase
			- Antagonist
				- Decreases the likelihood of a NT having its effect
				- Acetylcholine Antagonist - Blocks the AChe



		# Other things that affect Sypanse System
			- Dendritization - Increase # of dendritic spines  

			&bull; Kinesin Molecules
				&spades; Transporting NT to terminal
				- All axons have microtubles where the Kinesin travels the 
				vesicles on. 
				- These are two protein strands thought wind itself around 
				each other

			- Auto-Receptor????


	</pre>
	</div>
	


	<!--SCRIPT LINKING AND STUFF-->
	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="/js/bootstrap.min.js"></script>
	<script src="/js/handlebars-v4.0.5.js"></script>

	<script src="/js/researchPaperTemplate.js"></script>

	<script src="/js/myJS.js"></script>

	<script>

	var answerButtonWasClicked = false;
	var dummyData = [{
					"question": "The Division of the Forebrain that ultimately becomes the Thalamus, hypothalamus and the eye",
					"answer": "Diencephalon"
				}, 
				{
					"question": "The Division of the forebrain that ultimately becomes the Cerebral Cortex, Basal Ganglia, Limbic System", 
					"answer": "Telencephalaon"
				},
				{
					"question": "Hindbrain structure, controls vital reflexes", 
					"answer": "Medulla"
				},
				{
					"question": "Hindbrain structure, acts as bridge between Hindbrain and higher centers", 
					"answer": "Pons"
				},
				{
					"question": "Hindbrain structure, involved primarily with guided, timed movements", 
					"answer": "Cerebellum"
				},
				{
					"question": "Network of cells moving medially through hind- and mid-brain, involved in arousal", 
					"answer": "Reticular Formation"
				},
				{
					"question": "Core strip of cells through hind- and mid-brain, involved in sleep", 
					"answer": "Raphe System"
				}

			];
		$(document).ready(function(e){

		
			var HWQuestion = $("#HWQuestion");
			var HWResponse = $("#HWResponse");


			var randomNumber = 0; 
			var randomNumberPrev = 0;

			function ChangeHWQuestions(callback){
					$("#HWResponse").fadeOut(1000);
					
					setTimeout(function(){
						callback();
						$("#HWQuestion").fadeIn(500);


					}, 1000);
					
						
					
				}
		

			function setRandomQuestion(){

			 	do{
					randomNumber=Math.round(Math.random()*6);
				}while(randomNumber == randomNumberPrev);


				HWQuestion.text("Question: " + dummyData[randomNumber].question);
				HWResponse.text("Answer: " + dummyData[randomNumber].answer);


			}

			function answerButtonIsClicked(){

				$("#HWQuestion").fadeOut(500);

				setTimeout(function(){
					$('#HWResponse').fadeIn(500);
				}, 1000)

				
			}
			
			$("#playFlipCard").click(function(){

				HWQuestion.text("Question: " + dummyData[randomNumber].question);
				HWResponse.text("Answer: " + dummyData[randomNumber].answer);

				$("#flipCardModal").css("display","block");
			})
			$("span").click(function(){
				$("#flipCardModal").css("display","none");
			})

			$("#answerButton").click(function(){
				answerButtonWasClicked = true;

				
			

				if($("#answerButton").val() == "Press for new Question"){
					
					
					ChangeHWQuestions(setRandomQuestion);
					$("#answerButton").val("Press for Answer");
					answerButtonWasClicked = false;

				}

				if($("#answerButton").val() == "Press for Answer" && answerButtonWasClicked == true){

					answerButtonIsClicked();
				
					
					$("#answerButton").val("Press for new Question");
					
				}


				randomNumberPrev = randomNumber;
			})
			


			
		})


	</script>

	<!--End OF LINKING SCRIPTS-->
</body>
</html>