<!DOCTYPE html>
<html>
<head>
	<title>Notes - April 11 '17</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="/css/bootstrap.min.css" rel="stylesheet">
	<link href="/css/bootstrap-theme.min.css" rel="stylesheet">
	<link href="/css/style.css" rel="stylesheet">
</head>
<body>

<div class="container">
	<h3>Notes April 11 2017</h3>
	<h4>Continue from last lecture</h4>
	<a href="/cog17" style="float: right;">Back</a>
	<pre>
* = Professor Comments - = Key not
PNS (Peripheral Nervous System) - Spinal Nerves
	- 31 Segments

Property: Autonomic

Two Autonomic Systems:
	1. Sympathetic SYstem 
		- Fight or Flight
		* The ability to empathize with our environment
		Properties of Sympathetic:
			- Pupils Dilate
				* Responded to our enviornment i.e. a threat like seeing a tiger
			-Mouth Dry
			- Heart Rate Increase
			- Bronchi expand
			- Halt digestion
			# Exclusive to Sympathetic System
				- Liver release blood-sugar
				- Activate adrenal glands
				- Sweat Glands
				- Constrict Blood vessels
				- Pilo-erection ??? <-- Look this up
			- Halt digestive juices
			-Halt intestinal motility
			- Constrict bladder
			- Genitalia inactive (except at orgasm)

		Other Properties when this system gives extreme reaction.... 
			- Repeated Stressors
	2. Parasympathetic System
		- Rest and Digest
		Properties of Parasympathetic System
			- Pupils Contract
			- Produce Saliva
			- Heart rate Decrease
			- Bronchi constrict
			- Halt digestion

			~~~~~~~~~~~~~~~I think I missed this part~~~~~~~~~~~~~~~~~~~

			-Produce digestive Juices
			- increase intestinal motility
			- Release bladder
			- Genitalia active


			Properties of this system "Rebounding"
				- Leads to ulcer
				- Even Voodoo death...
					* If people really believe they will die,
					 this could lead to someones actuals 
					 death. <--- Our mind can control our physiology






			</pre>
			<h4>Lecture # ? - Structure and Function of the Nevous System</h4>
			<pre>
<h3 style="text-align: center;">The cell</h3>

		
Ribosomes


Mitochondria - this is the energy house


	Cell Membrane:
	- this is what wraps the cell.
	This is a place where bio-chemical information can pass through. 
	- Membrane Molecules
		- Made of phospholipids (Double lipid Membrane)
		- Tails <---- Flegella????
		- 

	- Protein Molecules
		- Hydrophodic????


<h3 style="text-align: center;">Neurons and Glial Cell</h3>

Glia Cells
	-1/10 the size of neuron
	-10X as many 
	- 50% of brain by weight



	- Astrocyte
		- Picks up trash
		- Delivers nutrients
		- Delivers chemical information and/or trash to blood vessels
		and other various cels

	- Microglial Cell
		- Block white blood cells from brain
		- Helps with the "immune system of the brain???"

	- Oligodendrocyte
		- Myelinization
		- Wraps arounds nerve
		- Speeds up transmission of signal on the sheath 
		- This is the white matter in the brain and nerves
		Otherwise, the connection in the brains

	- Ependymal Cell
		 - Cebral Spinal Fluid, through the ventricles 
		 and down spinal chord, flow back to meninges, etx. 

	- Multipolar Neuron
		- Soma
			- The cell body
		-Dendrites
			- The point of the neuron where information is received
			- The more dendrites one has, the higher capacity to recieve
			information 
		- Axon 
			- Nerve Cell only has ONE Axon

		* Information comes into dendrite and out through the Axon

		- Terminal Buttons
			- A nerve cell could have multiple terminal buttons

		- Myelin sheath
			- The white cells that surround the Axon 

	<h3 style="text-align: center;">IONS</h3>

Major players in the nervous system

	- Na+ - Sodium 
	- K+ - Potassium
	- Cl- Chloride
	- Ca++ - Calcium


* To understand how Neurons "communicate" we first need to recognize that 
Nature seeks a Balance... - The professor

~~ "Any GRADIENT (inequality) will tend towards equilibrium" ~~

- Ion Gates
	- Channels where chemical information can pass through
	- Sit in between the double lipid layers

	** Concentration Gradient
			- Think of coffee and milk. At first the two liquid 
			are seperated, but through time diffusion takes place and the 
			liquids become evenly distributed. 

	- Gradients in the Nerve Cell
		- Concentration (solution) Gradient
			- Our Nerve cell membrane always gravitates towards a a state 
			of equilibrium. 

		- Electrical Gradient
			- It will tend for + charges on inside/outside to match - charge
			 on the converse side. 
			- Gates open with electrostatic Pressure
		
		* NO ION FLOW ONCE WE REACH TOTAL EQUILIBRIUM
		* We need flow. If no flow exist, then death occurs!!! :-()
		* ~~~~~~~~~~~WaaAAAaaaaaaAAAaWW!!!!!!!!~~~~~~~~~~~~~~

		 - Resting Potential
		 	- When all gates are locked
		 	- -70mV (Highly Polarized)
		 		- More positive on outside
		 		- Less positive inside

	- The AXON
		- Axon Hillock
		- Ion Gates Located along the axon
		- vesicles of neurotransmitters

		#The resting potential
			- <\insert picture of neuron in resting potential>
			- Waiting to be fired
			- Ions are waiting

		#The action potential 
			- <\insert picture or neuron in action potentail>
			- Na+ Gates at Hillock Open, and Na+ enters the cell
			- Now, the the ion concentration changes
			- Depolarizes to + 50mV
			- Local polarity change causes the nex Na+ gates
				- Although, prior to this, the gates are shut TIGHTLY

			#After the Action Potential 
				- Potassium Channels begin opening
				- Local Re-Polarization
					- -50mV
				- Spike of Depolarization
					- Reaches terminal
						- Calcium gates open and calcium
						flow in to the terminal and neurotransmitter
						flows out


			# Restoring the Resting Potential (Refactory Period)
				- Sodium-Potassium Pump
					- Takes in 2k+ for every 3Na+ it puts out 
				- Calcium Pump
					- Ejected out as soon as it comes in
						- Because of electrical properties??? 

				- Nothing can happen on the neuron during the refractory period


		** MNEMONIC
			- When Ions of Sodium want to come in, 
			what does the resting cell say?

			Na, Na, Na		

			- This is because what minority is locked inside?

			K, K, K

			Cute, but Wow...

			<\insert action potential graph pic>


		# Myelinization
			- Nodes of Ranview are between Myelin sheath
			- Nodes of Ranvier are slow and strong
			- Myelin sheath are fast, but decay rapidly
			- No ion channels exist in myelin




			</pre>
	</div>





	<!--SCRIPT LINKING AND STUFF-->
	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="/js/bootstrap.min.js"></script>
	<script src="/js/handlebars-v4.0.5.js"></script>

	<script src="/js/researchPaperTemplate.js"></script>

	<script src="/js/myJS.js"></script>

	<!--Embedded code generated from google Analytics to track user behavior-->
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-97429662-1', 'auto');
  ga('send', 'pageview');

</script>



</body>
</html>