<!DOCTYPE html>
<html>
<head>
	<title>Aliff - Spring '17</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="/css/bootstrap.min.css" rel="stylesheet">
	<link href="/css/bootstrap-theme.min.css" rel="stylesheet">
	<link href="/css/style.css" rel="stylesheet">
</head>
<body>

<div class="container text-center">
<h1>Click a class to learning what I am learning!</h1>
</div>
<ul>
<li>
CSE 12
</li>
<li>
<a href="/cog17">
Cognitive Science 17
</a></li>
<li>
Cognitive Science 10
</li>
<li>
Physics 2B
</li>
</ul>




<script src="https://code.jquery.com/jquery.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/handlebars-v4.0.5.js"></script>

<script src="/js/researchPaperTemplate.js"></script>

<script src="/js/myJS.js"></script>
</body>
</html>